background_100               WEBP DISCARDABLE "assets/background_100.webp"
knobs_big_100                WEBP DISCARDABLE "assets/knobs_big_100.webp"
knobs_small_100              WEBP DISCARDABLE "assets/knobs_small_100.webp"
quality0_on_100              WEBP DISCARDABLE "assets/quality0_on_100.webp"
quality1_on_100              WEBP DISCARDABLE "assets/quality1_on_100.webp"
quality2_on_100              WEBP DISCARDABLE "assets/quality2_on_100.webp"
quality3_on_100              WEBP DISCARDABLE "assets/quality3_on_100.webp"
quality3_hover_100           WEBP DISCARDABLE "assets/quality3_hover_100.webp"
quality0_hover_100           WEBP DISCARDABLE "assets/quality0_hover_100.webp"
quality1_hover_100           WEBP DISCARDABLE "assets/quality1_hover_100.webp"
quality2_hover_100           WEBP DISCARDABLE "assets/quality2_hover_100.webp"
vananasun_off_100            WEBP DISCARDABLE "assets/vananasun_off_100.webp"
vananasun_hover_100          WEBP DISCARDABLE "assets/vananasun_hover_100.webp"
